@import '../configs/colors.css';

.loginpage{
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;
}

.loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.errorMessage{
    color:var(--danger);
    font-size: x-small;
    font-weight: bold;
    height: 15px;
    vertical-align: top;
}

#header{
    font-size: 20px;
    background-color: var(--white);
}